.home {
  text-align: center;
  padding: 30px;
  background-color: lightgray;
}

.home h1 {
  font-size: 40px;
}

.home p {
  font-size: 20px;
}

.forms-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  margin: 30px auto;
}

@media (max-width: 768px) {

  .forms-container {
    flex-direction: column;
    align-items: center;
  }

}